body {
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  h1 {
    color: #343a40;
  }
  
  .card {
    text-align: left;
  }
  
  form .form-label {
    font-weight: bold;
  }
  
  #porHacer, #enProgreso, #hecho {
    min-height: 300px;
    border-radius: 6px;
  }
  
  .card-body {
    background-color: #FFE99A;
    border-radius: 4px;
  }
  
  .btn-danger {
    float: right;
  }
  
  
